@import url('https://fonts.cdnfonts.com/css/roboto');
html,body {
    margin: 0;
    font-family: 'roboto';
}
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: rgba(91, 53, 157, 1);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
}
.top-nav-brand {
    padding: 25px;
    font-family: 'Comic Sans MS';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
}
.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}
.menu>li>a {
    color: black;
}
h1 {
    color: white;
    font-weight: 500;
    font-size: 36px;
}
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#menu-toggle {
    display: none;
}
.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    margin-right: 50px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}
#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}
a {
    text-decoration: none;
}
header {
    background-image:  linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
      ),url(./images/fleur.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    background-position: center;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.header__content {
    text-align: center;
    margin: auto;
}
.header__content_link {
    padding: 25px;
    background-color: #5B359D;
    color: #FFF;

    font-size: 16px;
}
.header_main {
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: 40px;
}
.article {
    text-align: center;
}
p {
    width: 90%;
    text-align: center;
    margin: auto;
    font-size: 16px;
}

.end_main-paragraph {
    margin-top: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
}

.bottom-main {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.4);
}
.social {
    text-align: center;
}
.social_icone {
    width: 50px;
    padding: 20px;
    text-align: center;
}
footer {
    background-color: #5B359D;
    padding-bottom: 30px;
}
.textalign-center {
    text-align: center;
    margin: auto;
    padding-top: 20px;
}
footer li, footer a, footer p, footer h3 {
    margin-left: 20px;
    text-align: left;
    color: white;
}
footer ul{
    padding-right: 20px;
}

.contact_details p {
    margin-left: 80px;
    width: 50%;
}
.menu_shortcut-footer {
    margin: auto;
}
i {
    font-size: 40px;
    margin-bottom: 20px;
}
.bottom-main {
    margin: 20px;
}
@media (max-width: 769px) {
    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 85px;
        left: 0;
        flex-direction: column;
        width: 100%;
    }
    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked~.menu li {
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu>li {
        display: flex;
        width: 100%;
        color: black;
        background-color: white;
    }
    .menu>li>a {
        text-decoration: none;
        font-size: 19px;
        line-height: 22px;
    }
  
    
}
@media (min-width:769px) {
    nav a {
        color: white;
    }
    .top-nav {
        color: white;
        background: white;
    }
    
    .top-nav-brand {
        background: rgba(91, 53, 157, 1);
        width: 45%;
    }
    .header_main {
        font-weight: 400;
        font-size: 28px;
        line-height: 33px;
    }
    a {
        width: 100%;
    }
    .article {
        display: flex;
        flex-wrap:wrap;
    }
    .article p {
        width: 50%;
    }
    .article_flex {
        width: 100%;
    }
    .menu_shortcut {
        display: flex;
        justify-content: center;
    }
    .footer_menu {
        width: 30%;
        margin: 0;
        margin-left: 50px;
        padding: 0;
    }
    .contact_details p {
        margin-left: 60px;
    }
    .article article {
        width: 50%;
    }
}
@media (min-width: 1024px) {
    .top-nav {
        background: white;
    }
    .top-nav-brand {
        background: rgba(91, 53, 157, 1);
        width: 25%;
    }
    .article p {
        width: 50%;
    }
    .article_flex {
        width: 33%;
    }
    
    .article {
        display: flex;
        flex-wrap: nowrap;
    }
    .menu_shortcut {
        width: 100%;
    }
    .footer_menu {
        width: 30%;
        margin-left: 100px;
    }
}
